<% if(typeof sec != 'undefined' && sec != 'undefined' && sec == 'art'){ %>
    <br>
    <hr>
    <details>
        <summary>Add an Artwork</summary>
        <h2>Add an Artwork</h2>
        <div id="editor2" class="pell" data-target="#unique_target" data-max="500"></div>
        <div id="characters-left2"></div>
        <div>
        HTML output:
        <div id="html-output2" style="white-space:pre-wrap;"></div>
        </div>
        <br>
        <form action="/listings/add2" method="POST">
        <div>
            <label for="title">Choose a title</label>
            <input name="title" class="add" id="title" value="title...">
        </div>
        <div>
            <label>Choose tags</label>
            <input name='tags' id='announcements' value='tag1, tag2 autofocus'>
        </div>
        <div>
            <!-- <label for="description">What description do you want to say?</label> -->
            <input name="desc" class="add" id="description2" value="description..." type="hidden">
        </div>
        <div>
            <input type="file"  value='image' name='avatar' accept="image/*" >
        </div>
        <input type="hidden" name="sec" value='art'>
        <br>
        <div>
            <button>Add listing</button>
        </div>
        </form>
    </details>
<% } %>