<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/chota.min.css' />
<link rel="stylesheet" href="/stylesheets/pell.min.css">
<link rel="stylesheet" href="/stylesheets/tagify.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<script>
    var errors = []
    var successes = []
    var tags = []
</script>