<nav class="tabs is-center">
    <a href="/about">about</a>
    <a href="/howto">how-to</a>
    <a href="/listings/tags">tags</a>
    <a href="/contact">contact</a>
    <a href="/policy">policy</a>
    <a href="javascript:void(0)" id="theme-switch" onclick="switchMode(this)">☀️</a>
</nav>