<!DOCTYPE html>
<html>

<head>
  <%- include('partials/datatables'); %>
</head>

<body>
  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>

    <table id="table_id" class="display nowrap" width="100%">
    </table>

  </div>
</body>
<%- include('partials/afterbody_datatable'); %>

</html>