#characters-left {
  font-family: Lucida Console;
  background-color: antiquewhite;
  color: black;
}

.pell-content {
  background-color: slateblue;
}

footer {
  padding-top: 10rem;
  padding-left: 10rem;
}

.card {
  transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8); /* IE 9 */
  -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
  -o-transform: scale(0.8, 0.8); /* Opera */
  -moz-transform: scale(0.8, 0.8); /* Firefox */
  background-color: sienna;
  color: white;
}